{% extends 'base.html' %}
{% block additional_css %}
	<meta http-equiv="refresh" content="15">
	<link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/TeX Gyre Heros:400,700">
	<link rel="stylesheet" type="text/css" href="/static/css/load.css">
	<style>
		h3, p, input, span.supplement, button, select, h1, h2, h3 { font-family: 'TeX Gyre Heros', sans-serif; font-weight: normal }
		.center { text-align: center }
		h1 { font-size: 4em }
		body { margin-top: 2vh }
		#postback { margin-top: 5vh }
		img { vertical-align: middle; padding: 0; margin: 0 }
		.media-element { color: #FFF; background: #2c3e51; padding: 10px; }
		.media-element-x h1, .media-element-x h2 { margin: 0; padding: 0; display: inline-block; vertical-align: middle;}

		.type-queued { color: #f39c12 }
		.type-failed { color: #c0392a }
		.type-running { color: #27ae61 }
	</style>
{% endblock %}

{% block content %}
<h1 class="center"><a href="/">The Unopinionated Itemset Generator</a></h1>
<!-- end ctr -->

<!-- start listing items here. -->
<div id="load">
	<div class="loader">Loading...</div>
	<h1 class="text-center">Your job is currently <b class="type-{{ result_status }}">{{ result_status }}</b>.</h1>
	<h2 class="text-center">This page will automatically reload when ready.</h2>
	<h3 class="text-center">{{ id }}</h3>
</div>

{% endblock %}
